* {
  padding: 0px;
  margin: 0px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.listName {
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBox input:nth-child(1) {
  flex: 10;
  padding: 12px 20px;
  font-size: 15px;
}

.inputBox input:nth-child(2) {
  flex: 1;
  font-size: 25px;
  padding: 10px;
  border: none;
  background-color: blue;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: white;
}

.container .workList li {
  font-size: 25px;
  list-style: none;
  padding: 20px;
}

.container .workList .liCss {
  display: flex;
  justify-content: space-between;
}

.content {
  font-size: 25px;
  color: purple;
  text-align: center;
}
